@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Poppins';
}

.context {
    width: 100%;
    position: absolute;
    top: 50vh;
}

.context h1 {
    text-align: center;
    color: #fff;
    font-size: 80px;
}

.area {
    background: #000000;
    width: 100%;
    height: 100vh;
}

.circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: yellow;
    animation: animate 25s linear infinite;
    bottom: -150px;
}

.circles li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
    animation-duration: 17.5s;
}

.circles li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 15s;
}

.circles li:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 1s;
}

.circles li:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 5s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 25s;
}

.circles li:nth-child(10) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 15s;
}

.circles li:nth-child(11) {
    left: 15%;
    width: 30px;
    height: 30px;
    animation-delay: 3s;
    animation-duration: 15s;
}

.circles li:nth-child(12) {
    left: 5%;
    width: 70px;
    height: 70px;
    animation-delay: 2s;
    animation-duration: 15s;
}

.circles li:nth-child(13) {
    left: 58%;
    width: 55px;
    height: 55px;
    animation-delay: 0s;
    animation-duration: 20s;
}

.circles li:nth-child(14) {
    left: 15%;
    width: 55px;
    height: 55px;
    animation-delay: 7s;
    animation-duration: 20s;
}

.circles li:nth-child(15) {
    left: 8%;
    width: 40px;
    height: 40px;
    animation-delay: 4s;
    animation-duration: 17s;
}

.circles li:nth-child(16) {
    left: 48%;
    width: 55px;
    height: 55px;
    animation-delay: 3s;
    animation-duration: 18s;
}

.circles li:nth-child(17) {
    left: 90%;
    width: 60px;
    height: 60px;
    animation-delay: 4s;
    animation-duration: 20s;
}

.circles li:nth-child(18) {
    left: 50%;
    width: 55px;
    height: 55px;
    animation-delay: 9s;
    animation-duration: 20s;
}

@keyframes animate {
    0% {
        transform: translateY(-1000px) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100% {
        transform: translateY(0) rotate(720deg);
        opacity: 0.5;
        border-radius: 40%;
    }
}

